{% extends "base.html" %} {% block title %}Complete Profile | HMS{% endblock %}
{% block content %}
<div class="card" style="max-width: 500px; margin: auto; margin-top: 40px">
	<h2 style="text-align: center">Complete Student Profile</h2>
	<hr />

	<form method="POST">
		{% csrf_token %}

		<label>Email</label>
		<input type="email" name="email" required />

		<label>Phone Number</label>
		<input type="text" name="phone_number" required />

		<label>Semester</label>
		<input type="number" name="semester" required />

		<label>Gender</label>
		<select name="gender" required>
			<option value="">Select</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>

		<label>College</label>
		<input type="text" name="college" required />

		<button type="submit" style="width: 100%; margin-top: 10px">Submit</button>
	</form>
	{% if error %}
	<p style="color: red; margin-top: 10px">{{ error }}</p>
	{% endif %}
</div>
{% endblock %}
