{% extends "base.html" %}

{% block title %}Login | HMS{% endblock %}

{% block content %}
<div class="card" style="max-width:420px; margin:60px auto;">

    <h2 style="text-align:center; margin-bottom:5px;">Welcome Back</h2>
    <p style="text-align:center; color:var(--muted); margin-bottom:20px;">
        Login to your account
    </p>

    {% if error %}
        <div class="alert">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit" style="width:100%; margin-top:10px;">
            Login
        </button>
    </form>

    <p style="margin-top:18px; text-align:center; font-size:14px;">
        Don’t have an account?
        <a href="{% url 'register' %}" style="color:var(--primary); font-weight:500;">
            Register
        </a>
    </p>

</div>
{% endblock %}