{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width:420px; margin:60px auto;">

    <h2 style="text-align:center;">Set New Password</h2>
    <p style="text-align:center; color:var(--muted); margin-bottom:20px;">
        Enter your new password below
    </p>

    {% if form.errors %}
        <div class="alert">
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>New Password</label>
        {{ form.new_password1 }}

        <label>Confirm Password</label>
        {{ form.new_password2 }}

        <button type="submit" style="width:100%; margin-top:10px;">
            Reset Password
        </button>
    </form>

</div>
{% endblock %}